{% extends "base.html" %}

{% block title %}About | Rosalind R. Gash{% endblock %}

{% block body_class %}static-page{% endblock %}

{% block content %}
<section class="about-section">
  <h1>About Me</h1>
  <p>Hi! I’m Rosalind. Welcome to my little corner of the internet. I’m not going to bore you with my life story, but I do want to let you know a little something about me.<br /></p>

  <p>I was born and raised in South Carolina, and these days I call South Dakota home. I’m creative, just not in the “draw a perfect circle” kind of way. I love to sew and code, and I used to do photography – some of my favorite shots <a href="https://www.flickr.com/photos/PentaxShootr" target="_blank" rel="noopener noreferrer">live on Flickr</a>. For me, creativity isn’t about perfection; it’s about building, experimenting, sometimes learning new things, and making things that bring me joy.<br /></p>

  <p>This website brings me joy because I made it with my own two hands.<br /></p>

  <p>You’re not looking at a few web pages on the internet. Sure, it looks like it but that’s not what it is. This ‘site’ is a full-featured content management system. Like WordPress, but 100 times smaller. I love seeing the outcome of my own two hands whether quilts or code. There’s just something about seeing the work of your own hands that’s so satisfying.<br /></p>

  <p>I have a bachelor’s degree in sociology from SUNY Oneonta, and an MBA and master’s in international trade from the Universidad Isabel I de Castilla in Spain. The degrees are all well and good, but my biggest accomplishment is surviving lupus. I think that’s what I’m most proud of.<br /></p>

  <p>Thanks for stopping by. I’m glad you’re here.<br /></p>
</section>
{% endblock %}
